@import url(http://fonts.googleapis.com/css?family=Sintony);
* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

nav {
  position: relative;
  text-align: center;

}
nav:hover a {
  color: transparent;
  text-shadow: 0 0 3px #cc5c00;
}
nav a {
  display: inline-block;
  width: 150px;
  height: 66px;
  line-height: 66px;
  font-family: Sintony;
  font-size: 1.25em;
  text-decoration: none;
  color: #cc5c00;
  transition: all 0.3s ease;
}
nav a:hover {
  color: #ff7300;
  border-bottom: 5px solid #ff7300;
  text-shadow: blurr;
}

@media screen and (max-width: 620px) {
  nav a {
    width: 50%;
  }
}
@media screen and (max-width: 300px) {
  nav a {
    width: 100%;
  }
}
